body {
  background: #f1f1f1;
  padding: 30px;
}

h1,
h2,
h3 {
  color: #999;
}

section {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 30px;
}

b,
i {
  color: darkred;
}

p {
  color: #999;
}

ul li:hover {
  cursor: pointer;
  background: #f9f9f9;
}

.mystyle {
  color: blueviolet;
}

/*animations*/

#container {
  width: 200px;
  height: 200px;
  background: #999;
  position: relative;
}

#box {
  width: 50px;
  height: 50px;
  background: white;
  position: absolute;
}

/*DOM events*/

#boxdiv {
  width: 80px;
  height: 80px;
  background: #999;
  border: 4px solid yellowgreen;
}

/*Event Propagation*/

.div {
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  cursor: pointer;
}

.div p {
  padding: 10px;
  background: #333;
  color: #fff;
}

.div span {
  padding: 10px;
  background: #fff;
  color: #333;
}

/*Image Slider*/
#imgslider {
  display: table;
}
#imgslider button {
  margin-top: 30px;
  float: left;
  padding: 15px;
}
#imgslider img {
  float: left;
  margin: 0 20px;
}
#imgslider img, 
.display-container img {
  width: 200px;
}